body{
    background-color: rgb(255, 250, 178);
}
#page{
    width: 1200px;
    margin: 0 auto;
}
#top{
    width: 1200px;
    height: 200px;
    background-color: #bdc5b8;
}
#navi{
    width: 1200px;
    height: 50px;
    background-color: #bdc5b8;
}
#content{
    width: 1200px;
    height: 800px;
    background-color: #ff9d00;
}
.navButton{
    width:299px;
    text-align: center;
    font-size: 16pt;
    height: 50px;
    text-transform: uppercase;
    line-height: 2.4;
    background-color: #c800ff;
    color: #ffffff;
    float:left;
    margin-right:1px;
}
.navButton:hover{
    background-color: #ff9d00;
    color:#000;
}
.navButton.active{
    background-color: #ff9d00;
    color:#000;
}
ul{
    list-style-type: none;
    margin: 0px;
    margin-left: -40px;
}
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
/*Šeit teksta animācija */
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
a:visited{
color:#ffffff;
}
/*formas pozicionēšana*/
.login{
    position: relative;
    width:245px;
    height:300px;
    background-color: #ffffff;
    padding: 10px 20px 0px 20px;
    margin: 0 auto;
    top:200px;
}
.login input{
    padding:5px;
    font-size: 14pt;
    margin-top:20px;
    text-align: right;
}
.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

        



